
{
	margin:0;
	padding:0
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none;   
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;   
}
textarea 
{
    resize: none;
}
#toolbar-left
{
	position: fixed; 
	width: 400px;
	height: auto; 
}
#toolbar-right
{
	position: fixed;
	background: #f1f1f1;
	border: 1px solid #ccc;   
	width: 240px;
	height: 400px; 
	margin-left:1100px;
	box-sizing: border-box;
}
#json-result
{
	margin-top:35px;
	width:100%;
	height:362px;
	border:0;
}
.session
{
	width:100%;
	height:220px;
	cursor: pointer;
	background: #f1f1f1;
	border: 1px solid #ccc;  
	
}
.s-middle
{
	height:190px;
}
.session-name
{
	padding:6px 0 6px 0;
	text-align: center;
	font-size: 16px;
	position: absolute;
	width:100%;
	background:#4558C9;
	color:#fff;
}
.box-tools
{
	position: absolute;
	margin-top:45px;
	margin-left:20px;
}
.tool-name
{
	clear: both;
    float:left;
    margin-top:10px;
}
.input-tool
{
	margin-top:10px;
	margin-left:10px;
	padding:5px;
	border:1px solid #ccc;
    float:left;
    border-radius:3px;
}
.i-xbig { width:165px; }
.i-big { width:120px; }
.i-middle { width:97px; }
.i-small  { width:75px; }
.i-xsmall { width:60px; }
.input-error
{
	border:2px solid #D22908;
}
.tool-inline
{
	clear: none;
	margin-left:10px;
}
.tool-button
{
	padding:5px 7px;
	border-radius:5px;
	background:linear-gradient(to bottom,#4558C9,#4D45C9);
	color:#fff;
}
#button-session
{
	margin-top: 7px;
	margin-left:10px;
	float: left;
}
#button-config
{
	width:170px;
	height:125px;
	background:#fff;
	position: absolute;
	margin-left:245px;
	margin-top:45px;
	border-radius: 5px;
	border:1px solid #ccc;
	z-index: 9999;
	padding-left: 10px;
	display: none;
}
.t-button-active
{
	background:rgba(69,88,201,0.9);
	box-shadow: inset 0 0 0 1px #4558C9, inset 0  5px 10px #4558C9;
}
#page-update
{
	position: absolute;
	width:680px;
	min-height:996px;
	margin-left: 411px;  
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#drop-area
{
	padding-top: 40px;
}
.drag-here
{
	font-size:21px;
	width:400px;
	padding:40px;
	border:10px dashed #ccc;
}
#new-drop
{
	margin-top:30px;
	display: none;
}
#welcome
{
	margin-top:200px;
}
.drag-over
{
	border-color:#4558C9;
}
.page-session
{
	width:100%;
	height:auto;
	cursor: pointer;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background: #fff;
 	text-align: center;
 	padding-bottom: 20px;
}
.page-title
{
	font-size:27px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	margin-top:30px;
}
.page-stitle
{
	color:gray;
	margin-left:5px;
	margin-top:-12px;
}
.page-image
{
	margin-top:10px;
	max-height: 290px;
	width:500px;
	border-radius:3px;
}
.page-button
{
	padding:5px 10px 5px 10px;
	font-size:20px;
	margin-top:10px;
	text-decoration: none;
	border:1px solid transparent;
	display: inline-block;
}
.page-button:hover
{
	background: #fff;
	border:1px solid #4558C9;
	color:#4558C9;
}
.page-delete
{
	margin-left: 620px;
	margin-top:-20px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	position: absolute;
	display:none;
}
.page-session:hover .page-delete
 {
    display: block;
}